/* normalize css */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
body {
  align-self: center;
  background-color: #fbfbfb;
  display: flex;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: Poppins_light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins_Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins_medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins_semiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 857px;
}
.container .sign_up {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  width: 450px;
}
.container .sign_up form {
  color: #152c61;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.container .sign_up form h1 {
  color: #2c6bff;
  font: normal 600 22px Poppins_semiBold;
}
.container .sign_up form h2 {
  color: #152c61;
  font: normal 600 40px Poppins_semiBold;
  margin-top: 39px;
}
.container .sign_up form label {
  color: #152c61;
  display: flex;
  font: normal 300 16px/24px Poppins_light;
  justify-content: space-between;
  margin-top: 22px;
}
.container .sign_up form label a {
  color: rgba(0, 0, 0, 0.5);
  font: normal 300 14px Poppins_light;
  margin-top: 2px;
}
.container .sign_up form input {
  background: #eef3ff;
  border-radius: 4px;
  border: none;
  color: #152c61;
  font: normal 400 14px/21px Poppins_Regular;
  margin: 5px 0px;
  padding: 14px 9px;
}
.container .sign_up form input.error_input {
  background-color: #fdf1f1;
}
.container .sign_up form .error_text {
  font: normal 300 14px/21px Poppins_light;
  color: #e1554c;
}
.container .sign_up form .note {
  font: normal 300 16px/24px Poppins_light;
  margin-top: 33px;
  text-align: center;
}
.container .sign_up form .note a {
  color: #2c6bff;
}
.container .sign_up form button[type=submit] {
  background: #2c6bff;
  border-radius: 4px;
  border: none;
  color: white;
  font: normal 600 16px/24px Poppins_semiBold;
  margin: 35px auto 33px auto;
  padding: 16px 0px;
  width: 136px;
}
.container .sign_up form .is_registered {
  color: #cccccc;
  font: normal 400 16px/22px Poppins_Regular;
  text-align: center;
}
.container .sign_up form .is_registered a {
  color: #2c6bff;
}
#design-panel {
  background-color: #86a7f2;
  width: 600px;
}
#design-panel img {
  position: relative;
  right: 68px;
  top: 90px;
}
@media screen and (max-width: 4000px) {
  body {
    width: 100vw;
  }
  body .container {
    width: 60vw;
    height: 100vh;
  }
  body #design-panel {
    width: 40vw;
    height: 100vh;
  }
}
@media screen and (max-width: 900px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
  }
  body #design-panel {
    width: 100vw;
    height: 30vh;
  }
  body #design-panel img {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .container {
    width: 100vw;
    background-color: #fbfbfb;
  }
  .container form {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
  #design-panel {
    display: none;
  }
}
