/* normalize css */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
body {
  align-self: center;
  background-color: #fbfbfb;
  display: flex;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: Poppins_light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins_Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins_medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins_semiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
body {
  background-color: #fbfbfb;
  display: block;
  /* primary layout buttons that is recyclable in all child */
}
body .primary_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font: normal 500 16px/24px Poppins_medium;
  padding: 7px 29px;
}
body .cancel_button {
  background-color: transparent;
  border: none;
  color: #707070;
  font: normal 400 16px/24px Poppins_medium;
}
body textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  color: #152c61;
  font: normal 300 16px/24px Poppins_light;
  padding: 8px 12px;
  resize: none;
  width: 100%;
}
body .icon_layout {
  border: none;
  display: inline-block;
  height: 20px;
  vertical-align: text-top;
  width: 24px;
}
body .hide {
  display: none !important;
}
body .show {
  display: block;
}
body .disabled {
  opacity: .5;
}
body .not_editable textarea {
  background-color: transparent;
  border: none;
  padding: 0;
}
body .editable textarea {
  background-color: #f5f8ff;
  border: 1px solid #dce6ff;
  padding: 10px;
}
body header {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px #0000000D;
  padding: 40px 81px 41px;
}
body header .header_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body header .header_container h1 {
  color: #152c61;
  font: normal 500 26px/39px Poppins_medium;
}
body header .header_container .user {
  color: #152c61;
  font: normal 300 16px/24px Poppins_light;
}
body header .header_container .user a {
  color: #2c6bff;
  font-weight: 600;
  margin-left: 12px;
}
body .main_section {
  max-width: 1280px;
}
body .main_section .create_message_area {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
body .main_section .create_message_area p {
  color: #707070;
  font: normal 400 16px/24px Poppins_Regular;
}
body .main_section .create_message_area p .message_counter {
  color: #2c6bff;
  font: normal 600 16px/24px Poppins_semiBold;
}
body .main_section .create_message_area #create_message_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font: normal 500 16px/24px Poppins_medium;
  padding: 7px 29px;
}
body .main_section .empty_message_container {
  color: #707070;
  font: normal 400 16px/24px Poppins_Regular;
  text-align: center;
}
body .create_message_modal,
body .remove_message,
body .remove_comment {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}
body .create_message_modal .modal_board,
body .remove_message .modal_board,
body .remove_comment .modal_board {
  background-color: #ffffff;
  border-radius: 6px;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .create_message_modal .modal_board .close_modal_button,
body .remove_message .modal_board .close_modal_button,
body .remove_comment .modal_board .close_modal_button {
  border: none;
  display: inline-block;
  height: 20px;
  vertical-align: text-top;
  width: 24px;
  background: url(../images/icons.png) no-repeat -90px -5px;
  position: absolute;
  right: 20px;
  top: 20px;
}
body .create_message_modal .modal_board h2,
body .remove_message .modal_board h2,
body .remove_comment .modal_board h2 {
  color: #152c61;
  font: normal 500 26px/49px Poppins_medium;
  margin: 20px auto 20px auto;
}
body .create_message_modal .modal_board textarea,
body .remove_message .modal_board textarea,
body .remove_comment .modal_board textarea {
  height: 185px;
}
body .create_message_modal .modal_board p,
body .remove_message .modal_board p,
body .remove_comment .modal_board p {
  font: normal 400 16px/24px Poppins_Regular;
  text-align: center;
}
body .create_message_modal .modal_board .modal_buttons,
body .remove_message .modal_board .modal_buttons,
body .remove_comment .modal_board .modal_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
body .create_message_modal .modal_board .modal_buttons .post_button,
body .remove_message .modal_board .modal_buttons .post_button,
body .remove_comment .modal_board .modal_buttons .post_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font: normal 500 16px/24px Poppins_medium;
  padding: 7px 29px;
}
body .create_message_modal .modal_board .modal_buttons .cancel_button,
body .remove_message .modal_board .modal_buttons .cancel_button,
body .remove_comment .modal_board .modal_buttons .cancel_button {
  background-color: transparent;
  border: none;
  color: #707070;
  font: normal 400 16px/24px Poppins_medium;
  position: relative;
  right: 40px;
}
body .create_message_modal .modal_board .remove_buttons,
body .remove_message .modal_board .remove_buttons,
body .remove_comment .modal_board .remove_buttons {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
body .create_message_modal .modal_board .remove_buttons .delete_button,
body .remove_message .modal_board .remove_buttons .delete_button,
body .remove_comment .modal_board .remove_buttons .delete_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font: normal 500 16px/24px Poppins_medium;
  padding: 7px 29px;
  left: 30px;
  position: relative;
}
body .create_message_modal .modal_board .remove_buttons .cancel_button,
body .remove_message .modal_board .remove_buttons .cancel_button,
body .remove_comment .modal_board .remove_buttons .cancel_button {
  background-color: transparent;
  border: none;
  color: #707070;
  font: normal 400 16px/24px Poppins_medium;
}
@media screen and (max-width: 4000px) {
  body {
    margin-inline: auto;
  }
  body header {
    max-width: 100vw;
  }
  body header .header_container {
    margin: 0 auto;
    max-width: 1280px;
  }
  body section {
    padding: 50px 80px;
  }
  body section .main_section {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px #0000000D;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 75vh;
    padding: 76px 68px;
  }
  body section .main_section .create_message_area {
    display: flex;
    justify-content: space-between;
  }
  body section .main_section .empty_message_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 126px;
  }
  body section .main_section .empty_message_container img {
    justify-content: center;
    width: 40px;
  }
  body section .main_section .empty_message_container p {
    margin-top: 20px;
  }
  body section .main_section #message_container .message_item {
    border-radius: 6px;
    border: 1px solid #dce6ff;
    margin-top: 20px;
    padding: 20px;
  }
  body section .main_section #message_container .message_item textarea {
    font: 300 16px/24px Poppins_light;
    min-height: 50px;
  }
  body section .main_section #message_container .message_item textarea .comment_form {
    display: block;
  }
  body section .main_section #message_container .message_item textarea .comment_form textarea {
    background-color: #f5f8ff;
    border-radius: 6px;
    border: 1px solid #dce6ff;
    color: #152c61;
    font: normal 300 16px/24px Poppins_light;
    padding: 8px 12px;
    resize: none;
    width: 100%;
  }
  body section .main_section #message_container .message_item .username {
    color: #707070;
    display: inline-block;
  }
  body section .main_section #message_container .message_item .username a {
    color: #707070;
    font-weight: 600;
  }
  body section .main_section #message_container .message_item .edit_form textarea {
    padding: 10px 0px 0px 10px;
  }
  body section .main_section #message_container .message_item .buttons button {
    background: transparent;
    border: none;
    color: #707070;
    font: normal 400 16px/24px Poppins_Regular;
    margin-left: 10px;
  }
  body section .main_section #message_container .message_item .buttons button .comment_icon {
    border: none;
    display: inline-block;
    height: 20px;
    vertical-align: text-top;
    width: 24px;
  }
  body section .main_section #message_container .message_item .buttons button .comment_icon.has_comment {
    background: url(../images/icons.png) no-repeat 0px -33px;
  }
  body section .main_section #message_container .message_item .buttons button .comment_icon.no_comment {
    background: url(../images/icons.png) no-repeat 0px -3px;
  }
  body section .main_section #message_container .message_item .buttons button .edit_icon {
    background: url(../images/icons.png) no-repeat -30px -5px;
    border: none;
    display: inline-block;
    height: 20px;
    vertical-align: text-top;
    width: 24px;
  }
  body section .main_section #message_container .message_item .buttons button .delete_icon {
    background: url(../images/icons.png) no-repeat -60px -5px;
    border: none;
    display: inline-block;
    height: 20px;
    vertical-align: text-top;
    width: 24px;
  }
  body section .main_section #message_container .message_item .buttons button.colored {
    color: #2c6bff;
  }
  body section .main_section #message_container .message_item .buttons button .user_icon {
    background: url(../images/user-icon.png) no-repeat;
    border: none;
    display: inline-block;
    height: 25px;
    vertical-align: text-bottom;
    width: 25px;
  }
  body section .main_section #message_container .message_item .buttons button .username {
    font: normal 500 16px/24px Poppins_medium;
  }
  body section .main_section #message_container .message_item .edit_container {
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
  }
  body section .main_section #message_container .message_item .edit_container .cancel_update_button {
    background-color: transparent;
    border: none;
    color: #707070;
    font: normal 400 16px/24px Poppins_medium;
    margin-right: 20px;
  }
  body section .main_section #message_container .message_item .edit_container .update_button {
    background-color: #2c6bff;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    font: normal 500 16px/24px Poppins_medium;
    padding: 7px 15px;
  }
  body section .main_section #message_container .comment_form {
    border-radius: 6px;
    border: 1px solid #dce6ff;
    margin-top: 20px;
    min-height: 120px ;
    padding: 20px;
  }
  body section .main_section #message_container .comment_form textarea {
    background-color: #f5f8ff;
    border: 1px solid #dce6ff;
    min-height: 84px;
    padding: 20px;
  }
  body section .main_section #message_container .comment_form .post_comment_button {
    background-color: #2c6bff;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    display: block;
    font: normal 500 16px/24px Poppins_medium;
    margin: 20px 0 0px auto;
    padding: 7px 20px;
  }
  body section .main_section #message_container .comment_item {
    border-radius: 6px;
    border: 1px solid #dce6ff;
    margin-top: 20px;
    padding: 20px;
  }
  body .create_message_modal .modal_board {
    height: 423px;
    width: 937px;
  }
  body .remove_message .modal_board,
  body .remove_comment .modal_board {
    height: 307px;
    width: 540px;
  }
}
@media screen and (max-width: 900px) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body header {
    justify-content: space-evenly;
    margin-top: 0;
    padding: 20px;
    width: 100vw;
  }
  body section {
    min-width: 100vw;
    padding: 30px 50px;
  }
  body section .main_section {
    min-height: 85vh;
    padding: 40px;
  }
  body section .main_section .create_message_area {
    width: 100%;
  }
  body section .main_section .create_message_area #create_message_button {
    padding: 6px;
  }
  body .create_message_modal .modal_board,
  body .remove_message .modal_board,
  body .remove_comment .modal_board {
    width: 90vw;
  }
}
@media screen and (max-width: 635px) {
  body header {
    justify-content: space-between;
    padding: 20px;
    width: 100vw;
  }
  body header p {
    display: flex;
    flex-direction: column;
  }
  body header p a {
    align-self: flex-end;
    display: flex;
  }
  body section .main_section {
    padding: 20px 30px;
  }
  body section .main_section .create_message_area {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body section .main_section .create_message_area p {
    font-size: 20px;
  }
  body section .main_section .create_message_area #create_message_button {
    align-self: center;
    margin-top: 20px;
    padding: 10px !important;
  }
  body section .main_section .empty_message_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 60px;
  }
  body section .main_section .empty_message_container img {
    justify-content: center;
    width: 50px;
  }
}
