<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard of the wall assignment">
    <meta name="author" content="John Paolo Ruelo">
    <link rel="icon" type="image/x-icon" href="../assets/images/15608-200.png">
    <link rel="stylesheet" href="../assets/css/wall.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="header_container">
            <h1>The Wall Assignment</h1>
            <p class="user">
                Welcome, Jp Ruelo! 
                <a href="index.html" class="logout">Logout</a>
            </p>
        </div>
    </header>
    <section>
        <div class="main_section">
            <div class="create_message_area">
                <p><span class="message_counter">0</span> messages arranged by latest posted</p>
                <button id="create_message_button">Create Message</button>
            </div>
    
            <div class="empty_message_container show">
                <img src="../assets/images/empty_Icon.png" alt="Empty message icon">
               <p>No Posted Message Yet.</p>
            </div>
    
            <div id="message_container">
                <!-- messages form -->
                <div class="message_item hide not_editable">
                    <form class="edit_form">
                        <textarea disabled></textarea>
                    </form>
                    <div class="buttons">
                        <button class="comment">
                            <span class="comment_icon no_comment"></span>
                            <span class="comment_counter">0</span> 
                            comment
                        </button>
                        <button class="edit colored">
                            <span class="edit_icon"></span>
                            Edit
                        </button>
                        <button class="delete">
                            <span class="delete_icon"></span>
                            Delete
                        </button>
                        <button class="user">
                            <span class="user_icon"></span>
                            <span class="username">You</span> 
                            - Few seconds ago
                        </button>
                    </div>
                    <div class="edit_container hide">
                        <button class="cancel_update_button">Cancel</button>
                        <button class="update_button">Update Message</button>
                    </div>
    
                    <form class="comment_form hide">
                        <textarea placeholder="Type your comment here."></textarea>
                        <button disabled class="post_comment_button disabled" type="submit">Post Comment</button>
                    </form>
                    <div class="comment_container hide">
                    </div>
                </div>
                <!-- comments form -->
                <div class="comment_item hide not_editable">
                    <form class="edit_form">
                        <textarea disabled></textarea>
                    </form>
                    <div class="buttons">
                        <button class="edit colored">
                            <span class="edit_icon"></span>
                            Edit
                        </button>
                        <button class="delete">
                            <span class="delete_icon"></span>
                            Delete
                        </button>
                        <button class="user">
                            <span class="user_icon"></span>
                            <span class="username">You</span> 
                            - Few seconds ago
                        </button>
                    </div>
                    <div class="edit_container hide">
                        <button class="cancel_update_button">Cancel</button>
                        <button class="update_button">Update Comment</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- modals -->
        <form class="create_message_modal hide">
            <div class="modal_board">
                <button type="button" class="close_modal_button close_modal"></button>
                <h2>Create a Message</h2>
                <textarea class="new_message_textarea" placeholder="Type your message here."></textarea>
                <footer class="modal_buttons">
                    <button type="button" class="cancel_button close_modal">Cancel</button>
                    <button disabled type="submit" class="post_button disabled">Post message</button>
                </footer>
            </div>
        </form>

        <form class="remove_message delete hide">
            <div class="modal_board">
                <button type="button" class="close_modal_button close_modal"></button>
                <h2>Confirm Delete Message</h2>
                <p>Are you sure you want to remove this message ?</p>
                <p>This action cannot be undone.</p>
                <footer class="remove_buttons">
                    <button type="button" class="cancel_button close_modal">Cancel</button>
                    <button type="button" class="delete_button">Yes, Remove it.</button>
                </footer>
            </div>
        </form>

        <form class="remove_comment hide">
            <div class="modal_board">
                <button type="button" class="close_modal_button close_modal"></button>
                <h2>Confirm Delete Comment</h2>
                <p>Are you sure you want to remove this message ?</p>
                <p>This action cannot be undone.</p>
                <footer class="remove_buttons">
                    <button type="button" class="cancel_button close_modal">Cancel</button>
                    <button type="button" class="delete_button">Yes, Remove it.</button>
                </footer>
            </div>
        </form>
    </section>
    <script src="../assets/js/wall.js"></script>
</body>
</html>