<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard of the wall assignment">
    <meta name="author" content="John Paolo Ruelo">
    <link rel="icon" type="image/x-icon" href="../assets/images/15608-200.png">
    <link rel="stylesheet" href="../assets/css/wall.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="header_container">
            <h1>The Wall Assignment</h1>
            <p class="user">
                Welcome, Jp Ruelo! 
                <a href="index.html" class="logout">Logout</a>
            </p>
        </div>
    </header>
    <section>
        <div class="main_section">
            <div class="create_message_area">
                <p><span id="message_counter">0</span> messages arranged by latest posted</p>
                <button type="submit" id="create_message_button">Create Message</button>
            </div>
    
            <div class="empty_message_container show">
                <img src="../assets/images/empty_Icon.png" alt="Empty message icon">
               <p>No Posted Message Yet.</p>
            </div>
    
            <ul id="message_container">
                <!-- messages form -->
            <li class="message_item hide" data-message-id="">
                <div class="message_content">
                    <p></p>
                </div>
                <div class="buttons">
                    <button type="button" class="comment">
                        <span class="comment_icon no_comment"></span>
                        <span class="comment_counter"> 0</span> 
                        comment
                    </button>
                    <button type="button" class="edit colored">
                        <span class="edit_icon"></span>
                        Edit
                    </button>
                    <button type="button" class="delete">
                        <span class="delete_icon"></span>
                        Delete
                    </button>
                    <button type="button" class="user">
                        <span class="user_icon"></span>
                        <span class="username">You</span>
                         - Few seconds ago
                    </button>
                </div>
                <form class="edit_container hide">
                    <textarea class="edit_textarea"></textarea>   
                    <button type="button" class="cancel_update_button">Cancel</button>
                    <button type="submit" class="update_button">Update Message</button>
                </form>
                <form class="comment_form hide">
                    <textarea placeholder="Type your comment here." class="comment_form_textarea"></textarea>
                    <button disabled class="post_comment_button disabled" type="submit">Post Comment</button>
                </form>
                <ul class="comment_container hide">
                </ul>
            </li>

            <!-- comments form -->
            <li class="comment_item hide" data-comment-id="">
                <div class="message_content">
                    <p></p>
                </div>
                <div class="buttons">
                    <button type="button" class="edit colored">
                        <span class="edit_icon"></span>
                        Edit
                    </button>
                    <button type="button" class="delete">
                        <span class="delete_icon"></span>
                        Delete
                    </button>
                    <button type="button" class="user">
                        <span class="user_icon"></span>
                        <span class="username">You</span>
                         - Few seconds ago
                    </button>
                </div>
                <form class="edit_container hide">
                    <textarea class="edit_textarea"></textarea>
                    <button class="cancel_update_button" type="button">Cancel</button>
                    <button class="update_button" type="submit">Update Comment</button>
                </form>
            </li>
            </ul>
        </div>

        <!-- modals -->
        <div class="create_message_modal modal hide">
            <form class="modal_board">
                <button type="button" class="close_modal_button close_modal"></button>
                <h2>Create a Message</h2>
                <textarea class="new_message_textarea" placeholder="Type your message here."></textarea>
                <div class="modal_buttons">
                    <button type="button" class="cancel_button close_modal">Cancel</button>
                    <button type="submit" class="post_button disabled" disabled>Post message</button>
                </div>
            </form>
        </div>

        <div class="remove_message modal hide">
            <form class="modal_board">
                <input type="hidden" value="">
                <button class="close_modal_button close_modal" type="button"></button>
                <h2>Confirm Delete Message</h2>
                <p>Are you sure you want to remove this message ?</p>
                <p>This action cannot be undone.</p>
                <div class="remove_buttons">
                    <button class="cancel_button close_modal" type="button">Cancel</button>
                    <button class="delete_button" type="submit">Yes, Remove it.</button>
                </div>
            </form>
        </div>

        <div class="remove_comment modal hide">
            <form class="modal_board">
                <input type="hidden" value="">
                <button class="close_modal_button close_modal" type="button"></button>
                <h2>Confirm Delete Comment</h2>
                <p>Are you sure you want to remove this message ?</p>
                <p>This action cannot be undone.</p>
                <div class="remove_buttons">
                    <button class="cancel_button close_modal" type="button">Cancel</button>
                    <button class="delete_button" type="submit">Yes, Remove it.</button>
                </div>
            </form>
        </div>
    </section>
    <script src="../assets/js/wall.js"></script>
</body>
</html>